.ant-transfer-list-body-customize-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  .left-transfer-top-box, .left-transfer-bottom-box {
    flex: 1;
    overflow-y: scroll;
    max-height: 192px;
  }
  .left-transfer-top-box {
    border-bottom: 1px solid #fafafa;
  }
  .left-transfer-bottom-box {
    border-top: 1px solid #fafafa;
  }
}
.right-transfer-box {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}
.ant-tree {
  .ant-tree-checkbox {
    align-self: auto;
    margin-top: 0;
  }
  // .ant-tree-treenode {
  //   height: 20px !important;
  //   .ant-tree-switcher {
  //     height: 20px !important;
  //   }
  //   .ant-tree-node-content-wrapper {
  //     height: 20px !important;
  //     .ant-tree-title {
  //       height: 20px !important;
  //     white-space: nowrap;
  //     }
  //   }
  // }
}