.categoryItem {
  width: 100%;
  height: 50px;
  line-height: 50px;
  float: left;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.active {
    background-color: red;
    color: white;
  }
}

.categoryTitle {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: flex;
}

.closeButton {
  position: absolute;
  right: -8px;
  top: -8px;
}


.imageItem{
  position: relative;
  width: 150px;
  height: 150px;
}